
.modalOverlay {
    background-color: var(--color-black-30);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 11;

    .modal {
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        position: relative;
        border: var(--border-stroke-md) solid var(--color-blue);
        border-radius: var(--border-radius);
        box-sizing: border-box;
        font-family: var(--font-family);
        z-index: 12;

        &.default {
            width: calc(100vw - (100vh * 0.2));
            height: calc(100vh - (100vh * 0.2));
        }

        &.gameInfo {
            min-width: 450px;
            width: calc(70vw - (70vh * 0.2));
            min-height: 300px;
            height: calc(65vh - (65vh * 0.2));
        }

        &.dialog {
            min-width: 350px;
            width: calc(40vw - (40vh * 0.2));
            min-height: 225px;
            height: calc(50vh - (50vh * 0.2));
        }

        &.drawerLeft, &.drawerRight {
            position: fixed;
            min-width: 250px;
            width: 40vw;
            height: 100%;
            top: 0;
        }

        &.drawerLeft {
            border-radius: 0px 8px 8px 0px;
            left: 0;
        }

        &.drawerRight {
            border-radius: 8px 0px 0px 8px;
            left: auto;
        }

        & > .title {
            padding: 1.25em 1em;
            margin-bottom: 2vh;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
        }

        &.left > .title {
            text-align: left;
        }

        &.center > .title {
            text-align: center;
        }

        &.right > .title{
            text-align: right;
        }

        & > .content {
            flex-grow: 1;
            padding: 0em 1em;
        }

        & > .gameInfoAction {
            position: absolute;
            width: 15vw;
            bottom: var(--edge-offset);
            right: var(--edge-offset);
        }
    }
}
