
.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 99;

    &.modalOverlay {
        background-color: var(--color-black-30);
    }

    .modal {
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        position: relative;
        border: var(--border-stroke-md) solid var(--color-blue);
        border-radius: var(--border-radius);
        box-sizing: border-box;
        font-family: var(--font-family);
        z-index: 100;

        &.default {
            min-width: calc(100vw - (100vh * 0.2));
            min-height: calc(100vh - (100vh * 0.2));
            width: fit-content;
            height: fit-content;
        }

        &.gameInfo {
            min-width: 450px;
            width: calc(70vw - (70vh * 0.2));
            min-height: 300px;
            height: calc(65vh - (65vh * 0.2));

            .gameInfoContent {
                display: flex;
                flex-direction: row;
                align-content: center;
                overflow: hidden;
                flex-grow: 1;
                padding: 1.25em 1.25em 0em;
                min-height: 0;

                .gameImage {
                    background-color: var(--color-grey);
                    background-size: cover;
                    position: relative;
                    object-fit: cover;
                    flex-shrink: 0;
                    aspect-ratio: 3 / 4;
                    width: 35%;
                    height: auto;
                    border-radius: var(--border-radius);
                    overflow: hidden;
                }

                .gameDescription {
                    display: flex;
                    padding: 1em;
                }
            }
        }

        &.dialog {
            min-width: 350px;
            width: calc(40vw - (40vh * 0.2));
            min-height: 225px;
            height: calc(50vh - (50vh * 0.2));
        }

        &.drawerLeft, &.drawerRight {
            position: fixed;
            min-width: 250px;
            width: 40vw;
            height: 100%;
            top: 0;
        }

        &.drawerLeft {
            border-radius: 0px 8px 8px 0px;
            left: 0;
        }

        &.drawerRight {
            border-radius: 8px 0px 0px 8px;
            left: auto;
        }

        & > .header {
            flex-shrink: 0;
            padding: 1.25em 1em;
            margin-top: 2vh;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
        }

        &.left > .header {
            text-align: left;
        }

        &.center > .header {
            text-align: center;
        }

        &.right > .header {
            text-align: right;
        }

        & > .content, & > .alignContentCenter {
            display: flex;
            overflow: hidden;
            flex-grow: 1;
            padding: 2rem;
            min-height: 0;
        }

        & > .alignContentCenter {
            align-items: center;
        }

        & > .footer {
            flex-shrink: 0;
            margin-top: auto;
            padding-top: 1.25em;
        }

        & > .gameInfoAction {
            position: absolute;
            width: 15vw;
            bottom: var(--edge-offset);
            right: var(--edge-offset);
        }
    }
}
